*{margin: 0; padding: 0;}
div#nav{
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom: 1px solid rgb(199, 199, 199);
}
div#nav img{
  width: 100px;
  height: 50px;
  float: left;
  margin:0 100px;
}
div#nav ul {list-style-type: none;}
div#nav ul li {
    float: left;
    width: 150px;
    height: 50px;
}
  div#nav ul li a{
    display: block;
    text-align: center;
    padding: 18px 23px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
  }
  div#nav ul li a:hover{
    background-color: rgb(252, 115, 35);
    color:white;
  }
  div#nav ul li ul{
    display: none;
  }
  div#nav ul li ul li{
    clear: both;
    width: 148px;
    border:1px solid rgb(252, 115, 35);
    background-color: white;
  }
  div#nav ul li:hover > ul{
    display: inline;
  }
  div#header{
    width: 100%;
    height: 600px;
    background-color: #edf0f2;
  }
  div#header h1{
    position: absolute;
    top: 35%;
    left: calc(25% - 170px);
    font-size: 70px;
  }
  div#header div#img{
    width: 50%;
    height: 600px;
    border: 1px solid red;
    float: right;
  }
  div#main div#servicios{
    width: 100%;
    height: 545px;
    background-color: #3F3F3F;
    color: white;
  }

  div#servicios div#ventajas, div#caract{
    width:50%;
    height: 545px;
    float: left;
  }
  div#ventajas{
    background-color: black;
    
  }
  div#caract{
    background-color: gray;
  }
  /* ============================
            ABOUT
 ============================= */
.about-content h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 36px;
  margin-bottom: 15px;
  color:white;
}
.about-content p {
  margin-bottom: 35px;
  color:white;
}
.about-list {
	padding: 0;
	margin-bottom: 30px;
}
.about-list li {
	list-style-type: none;
	padding-bottom: 6px;
}
.about-list li a {
	font-size: 16px;
	color: rgb(167, 163, 163);
	font-family: 'Raleway', sans-serif;
}
.about-list li span {
	color: #555;
	margin-right: 6px;
}
div.container img{
  width: 540px;
  height: 495px;
}
/* ============================
         END OF ABOUT
 ============================= */


/* ============================
            ABOUT
 ============================= */
.skills-content h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 36px;
  margin-bottom: 15px;
  
}
.skills-content p {
  margin-bottom: 15px;
  
}
/* ============================
         END OF ABOUT
 ============================= */