*{margin: 0; padding: 0;}
div#nav{
  background-color: #333;
  width: 100%;
  height: 50px;
}
div#nav img{
  width: 100px;
  height: 50px;
  float: left;
}
div#nav ul {
    list-style-type: none;
}
div#nav ul li {
    float: left;
    width: 150px;
    height: 50px;
}
  div#nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
  }
  div#nav ul li ul li a{
    padding: 15px 18px;
  }
  div#nav ul li a:hover{
    background-color: #111;
  }
  
div#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  div#header ul li {
    float: left;
  }
  
  div#header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  div#header ul li a:hover {
    background-color: #111;
  }