:root {
    --color1: #fc7424;
    --color2: hsla(176, 73%, 25%, 1);
    --color3: rgba(252, 115, 35, 0.7);
    --color4: rgb(255, 94, 0);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --subtitulos: 18px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    background: var(--fondo);
    color: white;
}
img {
    vertical-align: top;
}
/* -- Loader -- */

.hidden {
    overflow: hidden;
}
.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--fondo);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 6px groove orange;
    transform: rotate(360deg);
    animation: loader 0.6s ease-out alternate infinite;
}
.loader .loader-inner {
    border: 0px inset orange;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: border-zoom 1s ease-out alternate infinite;
}
/* ----------------     KEYFRAMES    ----------------- */

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes border-zoom {
    0% {
        border-width: 0px;
    }
    100% {
        border-width: 15px;
    }
}
/*  Header  */

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, hsla(176, 73%, 25%, .6), hsla(176, 73%, 25%, .6), rgba(252, 115, 35, .6)), url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
}
.nav1 {
    background: transparent;
    height: 80px;
    color: white;
    z-index: 4;
}
.nav2 {
    background: var(--fondo);
    height: 100px;
    color: black;
    z-index: 4;
}
.contenedor-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}
nav .enlaces a {
    color: white;
}
nav .enlaces2 a {
    color: black;
}
nav .enlaces a, nav .enlaces2 a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
nav .enlaces #usuario, nav .enlaces2 #usuario {
    margin-left: 120px;
}
nav .enlaces a:hover, nav .enlaces2 a:hover {
    border-bottom: 3px solid rgb(252, 115, 35);
    transition: 0.6s;
}
.logo, .logo img {
    height: 80px;
}
.icono {
    display: none;
    font-size: 24px;
    padding: 21.5px 20px;
}
/* MAIN */

.container {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right, hsla(176, 73%, 25%, .6), hsla(176, 73%, 25%, .6), rgba(252, 115, 35, .6)), url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-general {
    width: 100%;
    background: linear-gradient(to right, hsla(176, 73%, 25%, .6), hsla(176, 73%, 25%, .6), rgba(252, 115, 35, .6));
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
}
.menu {
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.menu a {
    padding: 5px 0;
    flex: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 3px solid transparent;
}
.menu a:hover {
    border-bottom: 3px solid rgb(252, 115, 35);
    transition: 0.6s;
}
a.active {
    border-bottom: 3px solid rgb(252, 115, 35);
}
.cont-forms {
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
}
.form {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: none;
}
.show {
    display: block;
}
form>h1 {
    text-align: center;
    margin-bottom: 20px;
}
form>input[type="text"], form>select {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--color3);
    margin: 5px 10px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 16px;
}
form>select {
    cursor: pointer;
    text-align: center;
}
form>select>option {
    color: black;
}
*::-webkit-input-placeholder {
    text-align: center;
    color: white;
}
form>div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
form input[type="color"] {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px;
}
form input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
form input[type="color"]::-webkit-color-swatch {
    border: none;
}
form>button {
    width: 50%;
    font-size: 15px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(252, 115, 35);
    margin: 10px 0 0 0;
    color: white;
}
form>button:hover {
    background: rgb(255, 94, 0);
    color: #000;
    cursor: pointer;
}
.lista {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.lista h2 {
    margin-bottom: 10px;
    text-align: center;
}
.lista table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.lista table th {
    background: white;
    color: black;
    padding: 8px;
}
.lista table td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lista table th, .lista table td {
    border: 1px solid white;
}
.cont_boton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.editar, .borrar {
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.editar {
    color: black;
    background: darkorange;
    cursor: pointer;
    box-shadow: 0 0 4px 0 black;
}
.borrar {
    color: black;
    background: #D50505;
    cursor: pointer;
    box-shadow: 0 0 4px 0 black;
}
@media (max-width: 991px) {
    .nav2 {
        color: white;
    }
    .icono {
        display: block;
        cursor: pointer;
    }
    .enlaces {
        position: fixed;
        top: 80px;
        background: linear-gradient(to right, hsla(176, 73%, 25%, .85), hsla(176, 73%, 25%, .85), rgba(252, 115, 35, .65));
        left: 60%;
        height: 0px;
        transition: all 1s ease;
        width: 40%;
        overflow: hidden;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
    }
    .enlaces a {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 2;
        text-align: center;
        color: white;
    }
    .enlaces2 {
        position: fixed;
        top: 80px;
        background: white;
        left: 60%;
        height: 0px;
        transition: all 1s ease;
        width: 40%;
        overflow: hidden;
    }
    .enlaces2 a {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 2;
        text-align: center;
        background: var(--fondo);
        color: black;
    }
    nav .enlaces #usuario, nav .enlaces2 #usuario {
        margin-left: 0px;
    }
    .form {
        width: 90%;
        padding: 20px 0;
    }
    form>input[type="text"], form>select {
        width: 90%;
    }
    .lista {
        padding: 20px 0;
        overflow-x: scroll;
    }
    .menu {
        width: 100%;
        height: 0px;
        background: var(--fondo);
        position: absolute;
        top: 60px;
        left: 0;
        transition: all 1s ease;
        overflow: hidden;
        flex-direction: column;
        border-bottom: none;
    }
    .menu a {
        width: 100%;
        display: block;
        text-align: center;
        color: black;
        flex: 0;
    }
    .icono-form {
        padding: 15px 20px;
        text-align: center;
    }
}