:root{
  --color1: hsla(176, 73%, 25%, 1);
  --color2: rgb(252, 115, 35);
  --color3: rgb(255, 94, 0);
  --fondo: #f2f2f2;
}
*{margin:0;padding:0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
body{
  font-family: 'Raleway', sans-serif;
}
/* -- Loader -- */
.hidden{
  overflow: hidden;
}
.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--fondo);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px; 
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 6px groove orange;
  transform: rotate(360deg);
  animation: loader 0.6s ease-out alternate infinite;
}

.loader .loader-inner {
  border: 0px inset orange;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: border-zoom 1s ease-out alternate infinite;
}

/* ----------------     KEYFRAMES    ----------------- */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes border-zoom {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 15px;
  }
}
/*-----fondo -------*/
body > img{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  filter: blur(0px);
  background-size: cover;
}
/*----- form ----*/
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:linear-gradient(to right, hsla(176, 73%, 25%, .6), hsla(176, 73%, 25%, .6), rgba(252, 115, 35, .6));
}
.login-box{
  width: 500px;
  height: auto;
  background: transparent;
  line-height: 2;
  border-radius:20px;
  text-align: center;
}
#containerRecuperar{
  display: none;
}
.login-box img{
  width: 35%;
  height: 100px;
  margin:10px 0 0 0;
}
.login-box h1{
  color: var(--color2);
}
.login-box input{
  width: 85%;
  height: 45px;
  border-radius: 5px;
  border:none;
  border-bottom:3px solid var(--color2);
  margin:5px 0;
  color: black;
  opacity: 0.5;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
*::-webkit-input-placeholder {
  font-size: 17px;
  text-align: center;
  color: #5E5042;
  font-family: 'Raleway', sans-serif;
}
.login-box button{
  width: 60%;
  font-size: 18px;
  border:none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--color2);
  margin:5px 20%;
  font-family: 'Raleway', sans-serif;
}
.login-box button:hover{
  background: var(--color3);
  color: white;
}
.login-box a{
  text-decoration: none;
  color: var(--color2);
  font-family: 'Raleway', sans-serif;
}
.login-box p{
  color:white;
  font-family: 'Raleway', sans-serif;
}
.login-box a:hover{
  color: white;
}