:root{
  --color1: hsla(176, 73%, 25%, 1);
  --color2: rgb(252, 115, 35);
  --color3: rgb(255, 94, 0);
  --fondo: #f2f2f2;
}
*{margin:0;padding:0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
body{
  font-family: 'Raleway', sans-serif;
}
/* -- Loader -- */
.hidden{
  overflow: hidden;
}
.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--fondo);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px; 
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 6px groove orange;
  transform: rotate(360deg);
  animation: loader 0.6s ease-out alternate infinite;
}

.loader .loader-inner {
  border: 0px inset orange;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: border-zoom 1s ease-out alternate infinite;
}

/* ----------------     KEYFRAMES    ----------------- */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes border-zoom {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 15px;
  }
}
/*----- form ----*/
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(176, 73%, 25%, .6), hsla(176, 73%, 25%, .6), rgba(252, 115, 35, .6)), url('../img/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -30;
}
.alerta{
  width: 100%;
  padding:10px 20px;
  background: rgba(255, 0, 0, .5);
  margin: 0 auto;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.formulario {
    width: 450px;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}
.formulario > a{
    display: inline-block;
    width: 35%;
    height: 100px;
}
.formulario img {
    width: 100%;
    height: 100%;
    display: block;
}
.formulario h1 {
    text-align: center;
    color: var(--color2);
}
.formulario input, .formulario label, .formulario button{
    width: 100%;
    display: block;
    font-size: 1.15em;
    font-weight: bold;
}
.formulario input{
    padding: 10px 20px;
    background: rgba(255,255,255, 0.2);
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid var(--color2);
    margin-top: 40px;
    position: relative;
    z-index: 20;
    color: white;
}
.formulario input:focus{
    outline: none;
}
.formulario input:focus + label {
    margin: -75px 0 0 -15px;
}
.formulario label{
    padding-left: 20px;
    position: absolute;
    margin-top: -35px;
    z-index: 10;
    transition: all 300ms ease;
    text-align: left;
    color: white;
}
.fijar{
    margin: -75px 0 0 -15px !important;
}
.formulario button{
  width: 60%;
  font-size: 18px;
  border:none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--color2);
  margin:20px auto;
  font-family: 'Raleway', sans-serif;
}
.formulario button:hover{
  background: var(--color3);
  color: white;
}